---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title p-name with-icon" itemprop="name headline">
      <img
        src="{{ '/assets/myicon.webp' | relative_url }}"
        class="title-icon"
        alt="Masato"
        width="44"
        height="44"
        loading="lazy"
        decoding="async"
      >
      <span class="title-text">
        {{ page.title | escape }}
      </span>
    </h1>

    <div class="post-meta">
      {% assign date_format = "%Y-%m-%d" %}
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </div>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
